.sidebar{
    background-color: var(--blue-clr);
    border-top-right-radius: 10px;
}

.sidebar-title-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    padding: 1em 0em;
    margin-left: .5em;

}

.sidebar-logo{
    color:var(--white-clr)
}

.sidebar-title{
    color:var(--white-clr);
    font-size: var(--fs-title);
}

.sidebar-list-box{
    display: flex;
    flex-direction: column;
    margin: 1em 0em 0em 1em;
    gap: 1em;

}

.list-section-title{
    color:var(--white-clr);
    font-size: var(--fs-subtitle);
    margin: .5em 0em .5em 0em
}

.list-item-box{
    display: flex;
    flex-direction: row;
    gap: .2em;
    cursor: pointer;
    border-radius: 1em 0px 0px 1em;
}

.list-item-box:hover{
    background-color: var(--grey-clr);
    transition: .6s ease;
}


.list-item-icon{
    color:var(--white-clr)
}

.list-item-text{
    color:var(--white-clr);
    font-size: var(--fs-text);
    padding: .5em;
    height: 100%;
    width: 100%;
}

.list-item-text:hover{
    color: var(--blue-clr);
}