<aside class="sidebar">
    <div class="sidebar-title-box">
        <img src="../../../assets/icons8-academy-50.png"/>
        <h1 class="sidebar-title">Liceum</h1>
    </div>
    <div class="sidebar-list-box">
        <h3 class="list-section-title">General</h3>
        <div class="list-item-box">
            <!-- <span class="list-item-icon">icon</span> -->
            <p class="list-item-text">Dashboard</p>
        </div>
        <div class="list-item-box">
            <!-- <span class="list-item-icon">icon</span> -->
            <p class="list-item-text">Clases</p>
        </div>
        <div class="list-item-box">
            <!-- <span class="list-item-icon">icon</span> -->
            <p class="list-item-text">Profesores</p>
        </div>
        <div class="list-item-box">
            <!-- <span class="list-item-icon">icon</span> -->
            <p class="list-item-text">Calendario</p>
        </div>
        <h3 class="list-section-title">Settings</h3>
        <div class="list-item-box">
            <!-- <span class="list-item-icon">icon</span> -->
            <p class="list-item-text">Ajustes</p>
        </div>
        <div class="list-item-box">
            <!-- <span class="list-item-icon">icon</span> -->
            <p class="list-item-text">Cuenta</p>
        </div>
        <div class="list-item-box">
            <!-- <span class="list-item-icon">icon</span> -->
            <p class="list-item-text">Log Out</p>
        </div>
    </div>
</aside>
